@charset "UTF-8";

.body {
	font-family: 'Inter', sans-serif;
	margin:0;
	padding:0;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.transfer-app-title {
	color: #000;
	font-size: 20px;
	font-family: 'Inter', sans-serif;
	font-weight: normal;
	text-decoration: none;
	display: inline;
	margin-right: auto;
	background: none;
	border: none;
	padding: 0;
}

.header-navigation {
	background-color: #ffffff;
	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 100%;
	padding: 0 20px;
	position: fixed;
	top: 0;
	left: 0;
}

.app-title-text {
	color: #f59f1d;
	font-size: 24px;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	text-decoration: none;
	display: inline;
	padding: 0;
}


.navigation-items {
	list-style: none;
	display: flex;
	gap: 48px;
	align-items: center;
	margin-right: 20px;
}

.navigation-items a {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	padding: 0 10px;
}

.navigation-items a.active {
	color: #207fee;
	font-weight: bold;
}

.transfer-container {
	background-color: #ffffff;
	padding: 60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 90%;
	max-width: 1000px;
	margin: 100px auto;
	border-radius: 8px;
}

.transfer-container form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

.input-group {
	flex: 1;
	min-width: 250px;
}

.transfer-container select,
.transfer-container input {
	width: 100%;
	padding: 15px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 18px;
}

.button-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.pay-button {
	background-color: #207fee;
	padding: 15px 30px;
	border-radius: 8px;
	border: none;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.pay-button:hover {
	background-color: #0056b3;
}

.transactions {
	margin-top: 40px;
}

.transactions h3 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: bold;
}

.transactions table {
	width: 100%;
	border-collapse: collapse;
}

.transactions table th,
.transactions table td {
	padding: 15px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
}





