<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Profil</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/profile.css">
</head>
<body>
	<header>
		
		<nav>
			<a href="/profile">Pay My Buddy</a>
			<a href="/transfer">Transférer</a>
			<a href="/profile">Profil</a>
			<a href="/connections/add-connection">Ajouter relation</a>
			<a href="/logout">Se déconnecter</a>
		</nav>
	</header>
	<main>
		<div class="profile-container">
			<form th:action="@{/profile/update}" method="post">
				<label>Identifiant: </label>
				<input type="text" th:value="${user.username}" readonly />
				<label>Mail: </label>
				<input type="email" th:value="${user.email}" readonly />
				<label>Mot de passe: </label>
				<input type="password" name="password" placeholder="mot de passe" />
				<button type="submit">Modifier</button>
			</form>
		</div>
	</main>
</body>
</html>